*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

section{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
     justify-content: center;
    align-items: center;
}
.container{
    margin-top:10% ;
    min-height: 90%;
     background-color: aqua;
}
#input{
    width: 400px;
    height: 35px;
    outline: none;
    border-radius: 5px;
    border: none;
    text-indent: 8px;
    
}
.checkbox{
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
}

input::placeholder{
    opacity: 0.4;
}
.Add-btn button{
    margin: 10px auto;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(104, 115, 214);
    border: none;
    outline: none;
    cursor:pointer;
    color: white;
}
.Delete-btn button{
    margin: 10px auto;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(230, 98, 57);
    border: none;
    outline: none;
    cursor:pointer;
    color: white;
}
.items ul li{
    width:400px ;
    height: 40px;
    background-color: aliceblue;
    padding: 10px;
      border-radius: 5px;
}
#item{
    margin: 20px auto;
}